.App {
  text-align: center;
}

table {
  border-spacing: 8px;
}

td:not(:nth-child(2)) {
  width: 90px;
}

td:nth-child(2) {
  width: 120px;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.search-input {
  padding: 6px 8px;
  width: 25%;
}

.img-contact {
  width: 80px;
  max-height: 120px;
}

.oops {
  font-size: 24px;
  position: absolute;
  top: 25vh;
  left: 45vw;
}

button:not(:only-child) {
  font-size: 16px;
}

button {
  cursor: pointer;
  padding: 4px 8px;
}
