.App {
  text-align: center;
}

table {
  border-spacing: 16px;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.search-input {
  padding: 6px 8px;
  width: 25%;
}
